fastapi
uvicorn[standard]
python-multipart
pydantic
SQLAlchemy>=2.0
psycopg2-binary
alembic
redis
celery
pypdf
python-pptx
python-docx
transformers
torch
arabic-reshaper
python-bidi
numpy
scikit-learn
